body {background-color: rgb(200, 224, 104); font-size: x-large; align-content: safe;}
h2.subaqua{color: aqua; font-size: xx-large; font-style: italic; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.subpink{color: rgb(230, 78, 207); font-size:xx-large ; align-content: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.titu{text-align: center; text-decoration: underline;color: rgb(134, 21, 21);}
.lista{text-align: justify; color: rgb(0, 55, 255); font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: oblique;}
.miimagen{width: 250px; height: 220px; position: relative; transform: translate(70%,0%);}